<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <link
            rel="stylesheet"
            type="text/css"
            href="../static/css/signin.css"
            th:href="@{/css/signin.css}"
    />

    <title>Login Form</title>
    <script type="text/javascript">
	function validateForm() {

		var x = document.getElementById("name");
		var y = document.getElementById("mobileNumber");
		if (x.value.length<=0){			x.classList.add('is-invalid');
		return false;
		}
		if (y.value.length<=0){
			y.classList.add('is-invalid');
			return false;
		}	
	}
</script>

</head>

<body>
<div class="container">
    <div class="row justify-content-md-center"><h1 class="display-3">Customer Login Page</h1></div>
    <div class="form-padding"><div class="row justify-content-md-center ">
                   
          <form action="#" th:action="@{/api1/save}"
						 th:object="${customer}" method="POST" class="form-signin"  onSubmit="return validateForm()">
            <h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>
            <table>
                <tbody>

                <tr>
                    <td><label  class="sr-only">Enter Name:</label></td>
                    <td><input name="name" id="name" path="customerName" class="form-control" placeholder="Cutomer Name"/></td>
                </tr>
                <tr>
                    <td><label class="sr-only"> Enter Mobile Number:</label></td>
                    <td><input name="mobileNumber" id="mobileNumber" path="mobileNumber" class="form-control" type="tel" placeholder="Mobile Number"/></td>
                </tr>


                <tr>
                    <td><label></label></td>
                    <td><input type="submit" value="Register" class="save btn btn-lg btn-success btn-block "/></td>
                </tr>


                </tbody>
            </table>


        </form>
    </div>
    </div>
</div>

</body>
</html>