<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>List Orders</title>
	
	<!-- reference our style sheet -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">



</head>

<body>

	<div id="wrapper">
		<div id="header">
			<div class="row justify-content-md-center"><h1 class="display-3">ORDERS PLACED</h1></div>
		</div>
	</div>
	
	<div id="container">
	
		<div id="content">
		

		
		
			<!--  add our html table here -->
		<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<!-- <th >Customer Id</th> -->	
					<th >Order Id</th>
					<th >Item Name</th>
					<th >Quantity</th>
					<th >Price</th>
					<th >Order Date</th>
				</tr>
				</thead>
				<tr th:each="orders : ${ordersPlaced}">

						<!--<td th:text="${orders.customerId}" />  -->
						<td th:text="${orders.orderId}" />
						<td th:text="${orders.itemName} "/>
						<td th:text="${orders.quantity}"/>
						<td th:text="${orders.itemPrice} "/>
						<td th:text="${orders.orderDate}"/>
						
					</tr>					
			</table>
				
		</div>
	
	</div>
	<div class="logout " style="width:200px;">
	 <div class="row justify-content-md-center">
	 <form id="myForm2" name="myForm2" action="/"
                   method="GET" class="form-signin">
                   <input type="submit" value="Logout" class="save btn btn-lg btn-dark btn-block "/>
                   </form>
                   </div>
	</div>
	

</body>

</html>









