<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
  <title>Place Order</title>

</head>

<body>
<div class="container">
<div class="row justify-content-md-center"><h1 class="display-3">Customer Login Page</h1></div>
<div class="split left">
  <div class="centered">
  <form action="#" th:action="@{/employees/save}"
						 th:object="${employee}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{customerId}" />
			<input type="hidden" th:field="*{orderId}" />
			<div class="form-inline">
				<input type="text" th:field="*{itemName}"
						class="form-control mb-4 col-4" placeholder="Dish">
			</div>
			<div class="form-inline">
				<input type="number" th:field="*{quantity}"
						class="form-control mb-4 col-4" placeholder="Quantity">
			</div>						
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
  </div>
  </div>
  <div class="right left">
  <div class="centered">
 <table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Item Name</th>
				<th>Price</th>
				</tr>
				</thead>
				<tr>
				<td>Pizza</td>
				<td>100</td>
				</tr>
				<tr>
				<td>Biryani</td>
				<td>200</td>
				</tr>
				<tr>
				<td>Burger</td>
				<td>250</td>
				</tr>
				<tr>
				<td>Pani-Puri</td>
				<td>60</td>
				</tr>
				<tr>
				<td>Frankie</td>
				<td>100</td>
				</tr>
				</table>
				
  </div>
  </div>
</div>
</body>
</html>